body {
    background-image: url("assets/cherryBlossom.jpg");
    background-size: cover; 
    
}
.jumbotron {
    background-color: #ff90;
    opacity: .9;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.name {
    box-sizing: border-box;
    background-color: #555151;
    color: #FFFFFF;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;

}

nav {
display: inline;
}