body {
    background-image: url("/assets/calmLake.jpg");
    background-size: cover;   
}

.jumbotron {
    background-color: #ff90;
    opacity: .9;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 0rem;
}
.name {
    box-sizing: border-box;
    background-color: #555151;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;

}

.container {
   box-sizing: border-box; 
}

.row {
    text-align: center; 
    display: flow-root;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    background-color: #555151;
    margin-right: 4rem;
    margin-left: 4rem; 
    margin-bottom: 1rem;
    padding-bottom: 1rem; 
}

.column-6-sm {
    background-color: #555151;
    margin-right: 1rem;
    margin-left: 1rem; 
    flex-wrap: wrap;
}

img {
    vertical-align: initial;
    flex-wrap: wrap;
}

.column-12-sm {
    flex-shrink: inherit;
    background-color: ghostwhite;
    opacity: .9;
    margin-top: .3rem;
    text-align: center;
}